{% include('header.html') %}
<h3>Cart</h3>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Item</th>
        <th scope="col">Unit price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Total</th>
        <th scope="col">-</th>
      </tr>
    </thead>
    <tbody>
    {% for order in orders %}
      <tr>
        <td>{{ order.item.title }}</td>
        <td>$ {{ order.price }}</td>
        <td>{{ order.quantity }}</td>
        <td>$ {{ order.total() }}</td>
        <td><a href="{{ url_for('remove_from_cart', order_id=order.id) }}" class="btn btn-sm btn-danger">Remove</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <div class="d-flex justify-content-between">
    <div>
        <a href="{{ url_for('home_page') }}" class="btn btn-primary"> Shop more products </a>
    </div>
    <div>
        <a href="{{ url_for('checkout_cart') }}" class="btn btn-success"> Checkout cart : $ {{ total }} </a>
    </div>
</div>
  
{% include('footer.html') %}